/* RESET */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #fafafa;
}
/* ==========================
/* NAVBAR IGUAL AO INDEX */
.navbar {
    width: 100%;
    padding: 12px 5%;
    background: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 8px #00000015;
    position: sticky;
    top: 0;
    z-index: 999;
}

.nav-logo {
    height: 60px;
}

.nav-links {
    display: flex;
    gap: 25px;
}

.nav-link {
    text-decoration: none;
    color: #222;
    font-weight: 600;
    transition: 0.3s;
}

.nav-link:hover,
.nav-link.active {
    color: #ff9900;
}



/* NAVBAR 
.navbar {
    width: 100%;
    background: #111;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    height: 55px;
}

.nav-links {
    display: flex;
    gap: 25px;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: .3s;
}

.nav-link:hover,
.nav-link.active {
    color: #ffcc00;
}
*/
/* HERO */
.hero {
    width: 100%;
    background: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
                url('../images/logogbusiness.png');
    background-size: cover;
    background-position: center;
    padding: 80px 20px;
    text-align: center;
    color: #fff;
}

.hero h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 18px;
}

/* GRID CONTACT */
.contact-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 40px 20px;
    justify-content: center;
}

/* CARD STYLE */
.card {
    background: #fff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 3px 15px rgba(0,0,0,0.15);
}

/* LEFT INFO */
.contact-info {
    flex: 1;
    min-width: 280px;
    max-width: 400px;
}

/* FORM */
.contact-form {
    flex: 1;
    min-width: 280px;
    max-width: 450px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 12px;
    margin: 8px 0 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

button {
    width: 100%;
    background: #111;
    color: #fff;
    padding: 14px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: .3s;
}

button:hover {
    background: #ffcc00;
    color: #000;
}

/* MAPA */
.map-container {
    padding: 0;
    margin: 0 auto 40px;
    width: 90%;
    height: 350px;
    border-radius: 12px;
    overflow: hidden;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}

/* FOOTER */
.footer {
    background: #111;
    color: #fff;
    text-align: center;
    padding: 15px;
}
